.login-card {
    margin: 1% auto;
    width: 35%;
    padding: 20px;
}

.login-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.form-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.submit-btn-wrapper {
    margin-top: 20px;
}
